/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */




/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
/* bg-solid: #2e3440*/
#waybar {
    background: transparent;
    color: #eceff4;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    font-weight: 400;
}

/* Each module */
#battery,
#workspaces,
#clock,
#backlight,
#custom-notification,
#pulseaudio,

#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 #custom-notification{
    
 }

 

#battery {

}

#battery.warning {
    color: orange;
    background-color: transparent;
}

#battery.critical {
    color: red;
    background-color: transparent;

}

#battery.warning.discharging {
    
}

#battery.critical.discharging {

}

#clock {
}

#pulseaudio {
   
}

#pulseaudio.muted {
    /* No styles */
}

#tray {
    /* No styles */
}

#pulseaudio#microphone{
    
}

#workspaces button {
    padding-left: 12px;
    padding-right: 12px;
    color: #eceff4;
    font-weight: bold;
    font-family: "Cantarell";
}

#workspaces button.empty {
    padding-left: 7px;
    padding-right: 7px;
    color: #888888;
}

#workspaces button.visible {
    color: #2e3440;
    border:none;
    border-radius: 100px;
    background-color: #81a1c1;
}
 

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

.modules-center {
  margin-top: 5px;
}