@define-color foreground #eeeeee;
@define-color foreground-inactive #93a1a1;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
    padding: 0;
    padding-left: 10;
    padding-right: 10;
    margin: 0;
}


#waybar {
    color: @foreground;
    background-color: @background;
    padding-left: 0;
    padding-right: 0;
}

#workspaces {
  padding: 0;
}

#window {
  color: @foreground-inactive;
}

#workspaces button {
    padding-left: 0px;
    padding-right: 0px;
    color: @foreground-inactive;
}

#workspaces button.visible {
  color: @foreground;
}
