@define-color accent_color #f9ba72;
@define-color accent_bg_color #f9ba72;
@define-color accent_fg_color #482900;

@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;

@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;

@define-color window_bg_color #18120c;
@define-color window_fg_color #eee0d5;

@define-color view_bg_color #18120c;
@define-color view_fg_color #eee0d5;

@define-color headerbar_bg_color #18120c;
@define-color headerbar_fg_color #eee0d5;
@define-color headerbar_backdrop_color @window_bg_color;

@define-color popover_bg_color #251e17;
@define-color popover_fg_color #eee0d5;

@define-color card_bg_color #251e17;
@define-color card_fg_color #eee0d5;

@define-color dialog_bg_color #18120c;
@define-color dialog_fg_color #eee0d5;

@define-color overview_bg_color #251e17;
@define-color overview_fg_color #eee0d5;

@define-color sidebar_bg_color #251e17;
@define-color sidebar_fg_color #eee0d5;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @window_bg_color;

@define-color secondary_sidebar_bg_color #18120c;
@define-color secondary_sidebar_fg_color #eee0d5;

/* Backdrop/unfocused states */
@define-color theme_unfocused_fg_color @window_fg_color;
@define-color theme_unfocused_text_color @view_fg_color;
@define-color theme_unfocused_bg_color @window_bg_color;
@define-color theme_unfocused_base_color @window_bg_color;
@define-color theme_unfocused_selected_bg_color @accent_bg_color;
@define-color theme_unfocused_selected_fg_color @accent_fg_color;

:root {
    --accent-color: #f9ba72;
    --accent-bg-color: #f9ba72; 
    --accent-fg-color: #482900;

    --destructive-bg-color: #ffb4ab;
    --destructive-fg-color: #690005;

    --error-bg-color: #ffb4ab;
    --error-fg-color: #690005;
    --error-color: #ffb4ab;

    --window-bg-color: #18120c;
    --window-fg-color: #eee0d5;

    --view-bg-color: #18120c;
    --view-fg-color: #eee0d5;

    --headerbar-bg-color: #18120c;
    --headerbar-fg-color: #eee0d5;
    --headerbar-backdrop-color: @window_bg_color;

    --popover-bg-color: #251e17;
    --popover-fg-color: #eee0d5;

    --card-bg-color: #251e17;
    --card-fg-color: #eee0d5;

    --dialog-bg-color: #18120c;
    --dialog-fg-color: #eee0d5;

    --overview-bg-color: #251e17;
    --overview-fg-color: #eee0d5;

    --sidebar-bg-color: #251e17;
    --sidebar-fg-color: #eee0d5;
    --sidebar-backdrop-color: @window_bg_color;
    --sidebar-border-color: @window_bg_color;

    --warning-bg-color: #3e4b26;
    --warning-fg-color: #d9e9b7;
    --warning-color: #bdcd9d;

    --success-color: #e0c1a3;
    --success-bg-color: #58432b;
    --success-fg-color: #fdddbd;
    
    --shade-color: rgba(0, 0, 0, 0.36);
}
