@define-color accent_color #ffb689;
@define-color accent_bg_color #ffb689;
@define-color accent_fg_color #512300;

@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;

@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;

@define-color window_bg_color #19120d;
@define-color window_fg_color #f0dfd7;

@define-color view_bg_color #19120d;
@define-color view_fg_color #f0dfd7;

@define-color headerbar_bg_color #19120d;
@define-color headerbar_fg_color #f0dfd7;
@define-color headerbar_backdrop_color @window_bg_color;

@define-color popover_bg_color #261e19;
@define-color popover_fg_color #f0dfd7;

@define-color card_bg_color #261e19;
@define-color card_fg_color #f0dfd7;

@define-color dialog_bg_color #19120d;
@define-color dialog_fg_color #f0dfd7;

@define-color overview_bg_color #261e19;
@define-color overview_fg_color #f0dfd7;

@define-color sidebar_bg_color #261e19;
@define-color sidebar_fg_color #f0dfd7;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @window_bg_color;

@define-color secondary_sidebar_bg_color #19120d;
@define-color secondary_sidebar_fg_color #f0dfd7;

/* Backdrop/unfocused states */
@define-color theme_unfocused_fg_color @window_fg_color;
@define-color theme_unfocused_text_color @view_fg_color;
@define-color theme_unfocused_bg_color @window_bg_color;
@define-color theme_unfocused_base_color @window_bg_color;
@define-color theme_unfocused_selected_bg_color @accent_bg_color;
@define-color theme_unfocused_selected_fg_color @accent_fg_color;

:root {
    --accent-color: #ffb689;
    --accent-bg-color: #ffb689; 
    --accent-fg-color: #512300;

    --destructive-bg-color: #ffb4ab;
    --destructive-fg-color: #690005;

    --error-bg-color: #ffb4ab;
    --error-fg-color: #690005;
    --error-color: #ffb4ab;

    --window-bg-color: #19120d;
    --window-fg-color: #f0dfd7;

    --view-bg-color: #19120d;
    --view-fg-color: #f0dfd7;

    --headerbar-bg-color: #19120d;
    --headerbar-fg-color: #f0dfd7;
    --headerbar-backdrop-color: @window_bg_color;

    --popover-bg-color: #261e19;
    --popover-fg-color: #f0dfd7;

    --card-bg-color: #261e19;
    --card-fg-color: #f0dfd7;

    --dialog-bg-color: #19120d;
    --dialog-fg-color: #f0dfd7;

    --overview-bg-color: #261e19;
    --overview-fg-color: #f0dfd7;

    --sidebar-bg-color: #261e19;
    --sidebar-fg-color: #f0dfd7;
    --sidebar-backdrop-color: @window_bg_color;
    --sidebar-border-color: @window_bg_color;

    --warning-bg-color: #49491e;
    --warning-fg-color: #e7e5ac;
    --warning-color: #cbc992;

    --success-color: #e5bfa9;
    --success-bg-color: #5c4130;
    --success-fg-color: #ffdbc8;
    
    --shade-color: rgba(0, 0, 0, 0.36);
}
