layout {

    focus-ring {
        active-color   "#f9ba72"
        inactive-color "#18120c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f9ba72"
        inactive-color "#18120c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f9ba72"
        inactive-color "#673d00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f9ba7280"
    }
}

recent-windows {
    highlight {
        active-color "#f9ba72"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#130d07"
}
