* {
    all: unset;
}

.background {
    background-image: url("/home/daniel/Pictures/wallpaper");
    background-size: cover;
    background-position: center;
}

#window-box {
    background-color: #18120c;
    color: #eee0d5;
    margin: 18px;
    padding: 48px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8), 0 2px 8px rgba(0, 0, 0, 0.6);
}

#window-box #clock-label {
    color: #eee0d5;
    font-size: 4em;
}

#window-box #date-label {
    color: #d4c4b5;
}

#window-box #input-label {
    opacity: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#window-box #input-field {
    margin-top: 16px;
    background-color: #302921;
    color: #eee0d5;
    border: 1px solid #9d8e81;
    min-height: 32px;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0.3em;
}

#window-box #input-field:focus {
    border-color: #f9ba72;
}

#window-box #unlock-button {
    background-color: #f9ba72;
    color: #482900;
    padding: 6px 12px;
}

#window-box #unlock-button:hover {
    background-color: #673d00;
    color: #ffddba;
}

#window-box #unlock-button:active {
    background-color: #e0c1a3;
    color: #3f2d17;
}

#window-box #warning-label {
    color: #bdcd9d;
}

#window-box #error-label {
    color: #ffb4ab;
}
