window {
    background-image: url("/tmp/lockscreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    color: #ffffff;
 }

#error-label{
  color:#ffffff;
}


